<% @popular_results.each do |result| %>
  <div class="px-2 py-3 hover:bg-customColor hover:rounded-lg">
    <p class="append-question" style="cursor: pointer" data-url="<%= append_result_result_path(result.id) %>"><%= result.question.truncate(50, separator: '...') %></p>
  </div>
<% end %>