@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

.right-home-screen {
    background-color: #343541;
}

.left-home-screen {
    background-color: #202123;
}

@media screen and (max-width: 640px) {
    #openMenu {
        display: none;
    }
}